zmodule git
zmodule exa
zmodule input
zmodule run-help
zmodule environment
zmodule magic-enter
zmodule zsh-users/zsh-completions
zmodule completion
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search

zmodule magicmace
zmodule hlissner/zsh-autopair
zmodule Aloxaf/fzf-tab
zmodule ohmyzsh/ohmyzsh --root plugins/sudo

# vim: ft=zsh
