[user]
	name = zibo
	email = sharezhou@outlook.com

[core]
	editor = nvim
    pager = delta
    {{- if eq .chezmoi.os "windows" }}  
    autocrlf = true
    {{- else if eq .chezmoi.os "linux" }}  
    autocrlf = input  
    {{- end }}  

[pull]
	rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    side-by-side = true  
    line-numbers = true   

[merge]
    conflictStyle = zdiff3
